html, body {
	width: 100%;
	height: 100%;
}
#maps, #sharedAndNotShared, #allTrips, #shared {
	height: 100%;
	z-index: 1;
}

.mapTitle {
	margin-left: 200px;
	position: absolute;
	color: white;
	z-index: 2;
	font-size: 48px;
}

.dataDesc {
	color: black;
	font-size: 24px;
	margin: 20px;
	padding: 20px;
}

.key {
	color: white;
	font-size: 24px;
	margin: 20px;
	padding: 20px;
}

.orange {
	background-color: #2877E2
}

.blue {
	background-color: #E27728
}

.settings {
	background-color: #00000045
}

.form {
	padding: 20px;
}